<!--menu.html-->

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a  href="/index/login">
          Login
        </a>
        <a  href="/index/registration">
          Register
        </a>
        <!-- <form action="/index/upload">
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
          <input type="submit">
        </form>
         -->
         <a  href="/index/upload">
          pic
         </a>
      </div>
    </div>
  </nav>